/* Place custom CSS styling for CollapsibleTree widget at runtime in this file */
.widget-collapsibletree {
    overflow-x: auto !important; /* Allow only horizontal scroll */
    overflow-y: auto !important; /* Disable vertical scroll */
    white-space: nowrap; /* Prevent line breaks in SVG */
    width: 100%;
    height: 100%;
}

.widget-collapsibletree svg {
    display: block;
}


.text {
    visibility: visible !important;
    opacity: 1 !important;
}
