/jackson-annotations-2.16.0.jar
/jackson-core-2.16.0.jar
/jackson-databind-2.16.0.jar
/jackson-dataformat-smile-2.16.0.jar
/joda-time-2.10.14.jar
/json-20240303.jar
/logback-classic-1.2.9.jar
/logback-core-1.2.9.jar
/rhino-1.7.15.jar
/slf4j-api-1.7.32.jar
/thingworx-communications-client-9.7.0-b30.jar
/thingworx-ext-sdk-9.7.0-b30.jar
/thingworx-javadocs-9.7.0-b30.jar
